*{
	background:#f5f5f5;
	
}

#one
{
	width:20%;
	text-align:center;
}
#two{
	width:50%;
	text-align:center;
}

#three{
	width:30%;
	text-align:center;
}

img{
	width:100%;
}


.box > h3,ul,li,p,h2{
	background:white;
}

.box {
	margin:10px;
/* 	border:1px solid black; */
	background:white;
	padding:20px;
	border-radius:20px;
	height:fit-content;
	
	
}


.flex{
	display:flex;
/* 	width:100%; */
	
}

header h1{
	background-color: #011e29;
	color:white;
	display:flex;
	text-align:center;
	padding:10px;
}